{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">{{event.name}}</h1>
    <div class="event-page-box">
    <h3>Description</h3>
    <p>{{event.description}}</p>
    <h3>Place</h3>
    <p>{{event.place}}</p>
    <h3>Date and Time</h3>
    <p>{{event.date}}</p>
    <h3>Participants</h3>
    {% for participant in participants%}
    <p>{{participants[0]}}</p>
    {% endfor %}
    <h3>Comments</h3>
    <p>Add the comment section here but for later</p>
    </div>
    {% endblock %}
    