{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">{{event.name}}</h1>
    <div class="event-page-box">
    <h3>Description</h3>
    <p>{{event.description}}</p>
    <h3>Place</h3>
    <p>{{event.place}}</p>
    <h3>Date and Time</h3>
    <p>{{event.date}}</p>
    <h3>Participants</h3>
    {% for participant in participants%}
    <p>{{participants[0]}}</p>
    {% endfor %}
    <h3>Comments</h3>
    {% for comment in comments %}
        <p class="name-commentators">{{commentators[comment.user_id]}} - {{comment.date.strftime('%Y-%m-%d %H:%M:%S')}} </p>
        <p class="comments"> {{comment.description }} </p>
    {% endfor %}
    <div class="div-comment">
        <form method="POST">
        <input type="textarea" class="comment-area" placeholder="Enter your comment here" name="comment" id="comment"></input>
        <br>
        <button type="submit" class="btn-add-comment" href="/event/{{event.id}}" >Add comment</input>
        </form>
    </div>
    </div>
    {% endblock %}
    