{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Games Planned</h1>

<ul class="" id="notes">
  {% for event in events %}
  <li class="list-group-item" onClick="redirectToEvent({{event.id}})">
    <div class="cross-and-title">
    <h2>{{ event.name }}</h2>
    {% if user.id == event.organizer_id %}
    <button type="button" class="close" onClick="deleteEvent({{ event.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
    </div>
    <p class='subtitle'>Description</p>
    <p class='description truncate-text'>{{ event.description }} </p>
    <div class="place-and-time">
      <div class='icon-text'>
      <img src="static/location.png" alt="location" class='icon'>
      <a class='subtitle'>Place</a>
      </div>
      <div class='icon-text'>
      <img src="static/clock.png" alt="Time" class='icon'>
      <a class='subtitle'>Date and Time</a>
      </div>
    </div>
    <div class="place-and-time">
    <p class='bottom'>{{ event.place }} </p>
    <p class='bottom'>{{ event.date }} </p>
    </div>
    {% if participants is not none %}
    <div class="place-and-time">
      <div class='icon-text'>
      <img src="static/people.png" alt="location" class='icon'>
      <a class='subtitle'>Participants</a>
      </div>
    </div>
    <div class="participants-class">
    {% for participant in event.participants %}
        <a class="participants-name"> {{ participant.first_name}} </a>
    {% endfor %}
    </div>
    {% endif %}
    
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <br />
  <div align="center">
    <a type="submit" class="btn btn-primary add-event-button" href="/createevent">Add Event</a>
  </div>
</form>
{% endblock %}
